<div class="container">
  <h2 class="text-center">Add Item</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input type="text" class="form-control" id="itemName" [(ngModel)]="item.itemName" name="itemName" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="item.price" name="price" required>
    </div>
    <button class="btn btn-success mt-2" type="submit" >Add Item</button>
  </form>
</div>



  
